SECRET_KEY=sua-secret-key-super-segura-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=daily_db
POSTGRES_USER=usuario_db
POSTGRES_PASSWORD=senha_forte_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
DATABASE_URL=
PORT=8000

EMAIL_HOST=smtp.resend.com
EMAIL_PORT=your_port
EMAIL_HOST_USER=your_user
EMAIL_HOST_PASSWORD=your_password
DEFAULT_FROM_EMAIL=your_default_email #example: Daily Tasks <support@dailytask.com>